<section class="advertisement">
  <div class="container">
    <div class="advertisement-container">
      <h2 class="visually-hidden-advertisement" id="advertisement">
        Advertisement
      </h2>
      <p class="text-advertisement">
        Choose <span class="text-advertisement-color">your story</span>, making
        every moment unique. Time is your style, and we reveal it.
      </p>
      <a href="#contact-us" class="button-advertisement">Contact Us</a>
    </div>
  </div>
</section>
