<section class="catalog">
    <div class="container catalog-container">
        <h2 class="title-catalog">Catalog</h2>
        <ul class="list-catalog">
            <li class="listt-catalog">
                <picture>
                    <source srcset="./img/catalog.img/main-clock-1-1x.png 1x, ./img/catalog.img/main-clock-1-2x.png 2x" media="(max-width: 1280px)"/>
                    <source srcset="./img/catalog.img/tabl-clock-1-1x.png 1x, ./img/catalog.img/tabl-clock-1-2x.png 2x" media="(max-width: 768px)"/>
                    <source srcset="./img/catalog.img/clock-1-1x.png 1x, ./img/catalog.img/clock-1-2x.png 2x" media="(max-width: 767px)"/>
                </picture>
                <img class="img-catalog" src="./img/catalog.img/clock-1-1x.png" width="279" height="262" alt="clock-1">
                <div class="box-text-catalog">
                    <h3 class="catalog-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
                    <p class="text-catalog">€500</p>
                </div>
            </li>
            <li class="listt-catalog">
                <picture>
                    <source srcset="./img/catalog.img/main-clock-2-1x.png 1x, ./img/catalog.img/main-clock-2-2x.png 2x" media="(max-width: 1280px)"/>
                    <source srcset="./img/catalog.img/tabl-clock-2-1x.png 1x, ./img/catalog.img/tabl-clock-2-2x.png 2x" media="(max-width: 768px)"/>
                    <source srcset="./img/catalog.img/clock-2-1x.png 1x, ./img/catalog.img/clock-2-2x.png 2x" media="(max-width: 767px)"/>
                </picture>
                <img class="img-catalog" src="./img/catalog.img/clock-2-1x.png" width="279" height="262" alt="clock-2">
                <div class="box-text-catalog">
                    <h3 class="catalog-title">Garmin Marq Athlete</h3>
                    <p class="text-catalog">€450</p>
                </div>
            </li>
            <li class="listt-catalog">
                <picture>
                    <source srcset="./img/catalog.img/main-clock-3-1x.png 1x, ./img/catalog.img/main-clock-3-2x.png 2x" media="(max-width: 1280px)"/>
                    <source srcset="./img/catalog.img/tabl-clock-3-1x.png 1x, ./img/catalog.img/tabl-clock-3-2x.png 2x" media="(max-width: 768px)"/>
                    <source srcset="./img/catalog.img/clock-3-1x.png 1x, ./img/catalog.img/clock-3-2x.png 2x" media="(max-width: 767px)"/>
                </picture>
                <img class="img-catalog" src="./img/catalog.img/clock-3-1x.png" width="279" height="262" alt="clock-3">
                <div class="box-text-catalog">
                    <h3 class="catalog-title">Garmin Descent MK1</h3>
                    <p class="text-catalog">€680</p>
                </div>
            </li>
            <li class="listt-catalog">
                <picture>
                    <source srcset="./img/catalog.img/main-clock-4-1x.png 1x, ./img/catalog.img/main-clock-4-2x.png 2x" media="(max-width: 1280px)"/>
                    <source srcset="./img/catalog.img/tabl-clock-4-1x.png 1x, ./img/catalog.img/tabl-clock-4-2x.png 2x" media="(max-width: 768px)"/>
                    <source srcset="./img/catalog.img/clock-4-1x.png 1x, ./img/catalog.img/clock-4-2x.png 2x" media="(max-width: 767px)"/>
                </picture>
                <img class="img-catalog" src="./img/catalog.img/clock-4-1x.png" width="279" height="262" alt="clock-4">
                <div class="box-text-catalog">
                    <h3 class="catalog-title">Garmin D2 Delta PX</h3>
                    <p class="text-catalog">€380</p>
                </div>
            </li>
            <li class="listt-catalog hide-catalog">
                <picture>
                    <source srcset="./img/catalog.img/main-clock-5-1x.png 1x, ./img/catalog.img/main-clock-5-2x.png 2x" media="(max-width: 1280px)"/>
                    <source srcset="./img/catalog.img/tabl-clock-5-1x.png 1x, ./img/catalog.img/tabl-clock-5-2x.png 2x" media="(max-width: 768px)"/>
                </picture>
                <img class="img-catalog" src="./img/catalog.img/tabl-clock-5-1x.png" width="279" height="262" alt="clock-5">
                <div class="box-text-catalog">
                    <h3 class="catalog-title">Garmin Fenix 6 Pro Solar</h3>
                    <p class="text-catalog">€400</p>
                </div>
            </li>
            <li class="listt-catalog hide-catalog">
                <picture>
                    <source srcset="./img/catalog.img/main-clock-6-1x.png 1x, ./img/catalog.img/main-clock-6-2x.png 2x" media="(max-width: 1280px)"/>
                    <source srcset="./img/catalog.img/tabl-clock-6-1x.png 1x, ./img/catalog.img/tabl-clock-6-2x.png 2x" media="(max-width: 768px)"/>
                </picture>
                <img class="img-catalog" src="./img/catalog.img/tabl-clock-6-1x.png" width="279" height="262" alt="clock-6">
                <div class="box-text-catalog">
                    <h3 class="catalog-title">Tube Watch S42 Date Steel With Black Case</h3>
                    <p class="text-catalog">€395</p>
                </div>
            </li>
        </ul>
        <button type="button" class="button-catalog">Show more</button>
    </div>
</section>