<section class="contact-us">
  <div class="container">
    <h2 class="contact-us-title" id="contact-us">Contact us</h2>
    <div class="form-and-image">
      <form class="form">
        <p class="form-paragraph">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <div class="form-field">
          <input
            class="form-input"
            type="text"
            name="user-name"
            placeholder="Name"
            pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐʼ]+"
            required
          />
        </div>
        <div class="form-field">
          <input
            class="form-input"
            type="email"
            name="user-email"
            placeholder="Email"
            required
          />
        </div>
        <div class="form-field">
          <input
            class="form-input"
            type="tel"
            name="user-phone"
            placeholder="+380"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            required
          />
        </div>
        <div class="form-field-comment">
          <textarea
            class="form-input textarea"
            name="user-comment"
            placeholder="Comment"
          ></textarea>
        </div>
        <button type="submit" class="contact-us-button">Send</button>
      </form>
      <picture>
        <source
          srcset="
            ./img/contact-us.img/watch-contact-us.jpg    1x,
            ./img/contact-us.img/watch-contact-us-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/contact-us.img/watch-contact-us-tab.jpg    1x,
            ./img/contact-us.img/watch-contact-us-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/contact-us.img/watch-contact-us-phone.jpg    1x,
            ./img/contact-us.img/watch-contact-us-phone-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="contact-us-image"
          src="./img/contact-us.img/watch-contact-us-phone.jpg"
          width="335"
          height="512"
          alt="watch"
        />
      </picture>
    </div>
  </div>
</section>
