<div class="page-header">
  <div class="container">
    <nav class="page-nav">
      <a class="logo" href="./index.html">watchcharm</a>
      <ul class="nav-list">
        <li class="nav-list-item"><a class="nav-link current" href="#header">Home</a></li>
        <li class="nav-list-item"><a class="nav-link" href="#about-us">About Us</a></li>
        <li class="nav-list-item"><a class="nav-link" href="#catalog">Catalog</a></li>
        <li class="nav-list-item"><a class="nav-link" href="#sale">Sale</a></li>
        <li class="nav-list-item"><a class="nav-link" href="#reviews">Reviews</a></li>
        <li class="nav-list-item"><a class="nav-link" href="#contact-us">Contact Us</a></li>
      </ul>
    </nav>
    <button class="mobile-menu-open-btn" type="button">
      <svg class="mobile-menu-open-svg" width="34" height="34">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <address class="contacts">
      <ul class="contacts-list">
        <li class="contacts-list-items">
          <div class="icon-body">
            <a class="contacts-link" href="https://www.facebook.com/goITclub/" target="_blank">
              <svg class="icons-contacts" width="20" height="20">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="contacts-list-items">
          <div class="icon-body">
            <a class="contacts-link" href="https://www.instagram.com/goitclub/" target="_blank">
              <svg class="icons-contacts" width="20" height="20">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="contacts-list-items">
          <div class="icon-body">
            <a class="contacts-link" href="https://www.youtube.com/c/GoIT" target="_blank">
              <svg class="icons-contacts" width="20" height="20">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </address>
  </div>
</div>
<div class="modal-menu">
  <div class="body-menu">
    <button class="mobile-menu-close-btn">
      <svg class="mobile-menu-close-svg" width="24" height="24">
          <use href="./images/icons.svg#icon-exit"></use>
      </svg>
    </button>
    <ul class="nav-list-modal">
      <li class="nav-list-item-modal"><a class="nav-link-modal current" href="#hero">Home</a></li>
      <li class="nav-list-item-modal"><a class="nav-link-modal" href="#about-us">About Us</a></li>
      <li class="nav-list-item-modal"><a class="nav-link-modal" href="#catalog">Catalog</a></li>
      <li class="nav-list-item-modal"><a class="nav-link-modal" href="#sale">Sale</a></li>
      <li class="nav-list-item-modal"><a class="nav-link-modal" href="#reviews">Reviews</a></li>
      <li class="nav-list-item-modal"><a class="nav-link-modal" href="#conact-us">Contact Us</a></li>
    </ul>
    <ul class="contacts-list-modal">
      <div class="icon-body-modal">
        <li class="contacts-list-items-modal">
          <a class="contacts-link-modal" href="https://www.facebook.com/goITclub/" target="_blank">
            <svg class="icon-media" width="20" height="20">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </div>
      <div class="icon-body-modal">
        <li class="contacts-list-items-modal">
          <a class="contacts-link-modal" href="https://www.instagram.com/goitclub/" target="_blank">
            <svg class="icon-media" width="20" height="20">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </div>
      <div class="icon-body-modal">
        <li class="contacts-list-items-modal">
          <a class="contacts-link-modal" href="https://www.youtube.com/c/GoIT" target="_blank">
            <svg class="icon-media" width="20" height="20">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </div>
    </ul>
  </div>
</div>