<section class="container">
    <div class="hero">
     <div class="hero-container">
      <h1 class="hero-title">
        Welcome to our <span class="collection">collection</span> of premium
        watches
      </h1>
      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-more">
      <picture>
        <source
          srcset="
            ./img/hero.img/people-desktop1x.png 1x,
            ./img/hero.img/people-desktop2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hero.img/people-tablet1x.png 1x,
            ./img/hero.img/people-tablet2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/hero.img/people-mobile1x.png 1x,
            ./img/hero.img/people-mobile2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="hero-image"
          src="./img/hero.img/people-desktop1x.png"
          alt="people"
        />
      </picture>
      <a href="#footer" class="hero-link">Scroll down</a>
    </div>
</div>
    <picture>
      <source
        srcset="
          ./img/hero.img/main-desktop1x.jpg 1x,
          ./img/hero.img/main-desktop2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/hero.img/main-tablet1x.jpg 1x,
          ./img/hero.img/main-tablet2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/hero.img/main-mobile1x.jpg 1x,
          ./img/hero.img/main-mobile2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="main-hero-image"
        src="./img/hero.img/main-mobile1x.jpg"
        alt="main hero image"
      />
    </picture>
</section>
