.catalog-container {
    margin-bottom: 60px;
}
.title-catalog {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 40px;
}
.list-catalog{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 23px;
}
.listt-catalog {
    background-color: #F3F3F3;
    border-radius: 30px;
    width: 100%;
}
.img-catalog {
    margin: 0 auto;
    padding: 24px 28px 0 24px;
}
.box-text-catalog {
    padding: 10px 28px 24px 28px;
}
.catalog-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 8px;
}
.text-catalog {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
}
.button-catalog {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: #fbfbfb;
    background-color: #3350E9;
    cursor: pointer;
    border: none;
    border-radius: 16px;
    padding: 15px 44px 15px 44px;
    display: block;
    margin: 40px auto 0;
}
@media screen and (max-width: 375px) {
    .catalog-span-mob {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .hide-catalog {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .catalog-container {
        margin-bottom: 80px;
    }
    .title-catalog {
        font-size: 48px;
        line-height: 0.9;
    }
    .list-catalog {
        gap: 32px 16px;
    }
    .listt-catalog {
        width: calc((100% - 16px) / 2);
    }
    .img-catalog {
        padding: 24px 32px 0 32px;
    }
    .box-text-catalog {
        padding: 10px 32px 24px 32px;
    }
    .catalog-title {
        font-size: 20px;
        line-height: 1;
    }
    .button-catalog {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .catalog-span {
        display: none;
    }
    .catalog-span-tab-last {
        display: none;
    }
}
@media screen and (min-width: 1280px) {
    .catalog-container {
        margin-bottom: 100px;
    }
    .list-catalog {
        gap: 32px 23px;
    }
    .listt-catalog {
        width: calc((100% - 46px) / 3);
    }
    .catalog-span-main {
        display: none;
    }
    .catalog-span-main-last {
        display: none;
    }
}