    @media screen and (min-width: 375px) {
        .container {
            width: 375px;
        }
    }

    @media screen and (min-width: 768px) {
        .container {
            width: 768px;
            padding: 0 32px;
        }
    }

    @media screen and (min-width: 1280px) {
        .container {
            width: 1280px;
            padding: 0 65px;
        }

        .container-footer {
            width: 1280px;
            padding: 0 32px;
            margin: 0 auto;
        }
    }
    
    .container-footer {
        width: 100%;
        max-width: 335px;
        border-radius: 30px;
        padding: 40px 28px 28px 28px;
        background-color: #0c0c0c;
        
        }
    
    .logo-footer {
        font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #fbfbfb;
        display: inline-block;
        margin-bottom: 20px;
    }

    .icons-social {
        fill: #fbfbfb;
        border: 1px solid rgba(251, 251, 251, 0.1);
        border-radius: 10px;
        padding: 8px;
        width: 34px;
        height: 34px;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icons-social:active, .icons-social:hover, .icons-social:focus {
        opacity: 0.8;
    }

    .tell-footer {
        display: inline-block;
        font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33333;
        text-transform: uppercase;
        text-align: center;
        color: #fbfbfb;
        border: 1px solid rgba(251, 251, 251, 0.2);
        border-radius: 16px;
        padding: 14px 20px;
    }

    .title-footer {
        display: inline-block;
        font-family: "Gilroy", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fbfbfb;
    }

    .title-footer-container {
        margin-bottom: 92px;
    }

    .link-footer {
        font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33333;
        text-align: center;
        color: #fbfbfb;
    }

    .links-footer-list {
        display: flex;
        flex-direction: row;
        row-gap: 8px;
        column-gap: 16px;
        flex-wrap: wrap;
        max-width: 147px;
        margin-right: auto;
    }

    .site-footer {
        font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.3;
        color: #fbfbfb;
        max-width: 87px;
    }

    .data-footer {
        font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 10px;
        line-height: 1.4;
        letter-spacing: -0.02em;
        color: rgba(251, 251, 251, 0.5);
        margin-bottom: 8px;
    }

    .policy-terms {
        font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 10px;
        line-height: 1.4;
        letter-spacing: -0.02em;
        text-align: right;
        color: rgba(251, 251, 251, 0.5);
    }

    .div-footer-policy {
        padding-top: 24px;
        border-top: 1px solid rgba(251, 251, 251, 0.1);
    }

    .social-list {
        display: flex;
        gap: 10px;
    }

    .logo-list-footer {
        margin-bottom: 20px;
    }

    .logo-div {
        margin-bottom: 40px;
    }

    .links-h3-footer {
        padding-bottom: 24px;
        display: flex;
    }

    .policy-div {
        display: flex;
        gap: 20px;
    }

    @media only screen and (min-width:768px) {
        .container-footer {
            max-width: 768px;
            padding: 40px 40px 28px 40px;
        }

        .logo-list-footer {
            margin-right: auto;
        }

        .logo-footer {
            font-size: 20px;
        }

        .logo-div {
            margin-bottom: 86px;
            display: flex;
            justify-content: space-between;
        }

        .tell-footer {
            padding: 15px;
            max-height: 48px;
            font-size: 14px;
            line-height: 1.3;
        }

        .title-footer {
            width: 524px;
            margin-left: 50px;
            margin-right: 50px;
            font-size: 28px;
            line-height: 1.2;
        }

        .title-footer-container {
            margin-bottom: 100px;
        }

        .links-footer-list {
            row-gap: 0;
            column-gap: 19;
            flex-wrap: nowrap;
            max-width: 400px;
        }

        .site-footer {
            font-size: 14px;
            line-height: 1.3;
            max-width: 166px;
        }

        .links-h3-footer {
            margin-bottom: 28px;
        }

        .link-footer {
            font-size: 14px;
            line-height: 1.3;
        }

        .data-footer {
            font-size: 14px;
            line-height: 1.28571;
        }

        .policy-terms {
            font-size: 14px;
            line-height: 1.28571;
        }

        .div-footer-policy {
            margin-top: 28px;
            display: flex;
            justify-content: space-between;
        }
    }


@media only screen and (min-width: 1280px) {
    .container-footer {
        max-width: 1216px;
        height: 400px;
        position: relative;
    }

    .title-footer {
        position: absolute;
        margin: 0;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo-div {
        width: 1136px;
        height: 96px;
        margin-bottom: 126px;
    }
}