.list-img-clock {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  width: 100%;
  height: 80px;
  background: #f3f3f3;
}
.list-img-main-clock {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 335px;
  height: 385px;
  background: #f3f3f3;
  margin-bottom: 20px;
}
.list-clock {
  display: flex;
  column-gap: 5px;
  margin-bottom: 20px;
}
.title-sale {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.section-sale {
  margin-bottom: 60px;
}
.marq {
  border-radius: 30px;
  width: 335px;
  background: #3350e9;
  padding: 49px 28px 48px;
}
.marq-commader {
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  width: 100%;
  margin-bottom: 10px;
}
.tag-product {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 19px;
}
.price-is-current {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding: 8px;
  border-radius: 8px;
  width: 68px;
  height: 32px;
  background: rgba(251, 251, 251, 0.1);
}
.previous-price {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
  padding: 8px;
}
.price {
  display: flex;
  column-gap: 9px;
  text-align: center;
  margin-bottom: 28px;
}
.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}
.list-characteristics {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.list-link-characteristics {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #fbfbfb;
}
